body {
                        font-family: sans-serif;
                        background-color: #f0f0f0;
                        text-align: center;
                        margin-top: 50px;
                    }
                    h1 {
                        color: #333;
                    }
                    p {
                        color: #555;
                    }
                    img {
                        max-width: 80%;
                        height: auto;
                        margin-top: 20px;
                        border: 3px solid #ccc;
                        border-radius: 8px;
                    }
